/* import "@fontsource/work-sans"; */
:root{
    --light-white:#98999D;
    --green: #99f993;
    --background-green: #3E6744;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: white;
    scroll-behavior: smooth;
    /* max-width: 100%;
    box-sizing: border-box; */
}

html{
    
    overflow-x: hidden;
    
}

body{
    background-color: #02060F;
    max-width: 100%;
}


header{
    background-color: #22252D;
    color: white;
    height: auto;
    margin-left: 70px;
    margin-right: 70px;
    /* flex-wrap: wrap; */
    /* width: ; */
    position: fixed;
    width: calc(100% - 140px);
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 50rem;
    margin-top: 32px;
    padding: 8px 32px 0 32px;
    backdrop-filter: blur(5px);
    transition: all 0.3s ease-in-out;
    display: flex;
    
}

.menu-icon{
    font-size: 2.3rem;
    display: none;
}

.scrolled {
    margin-left: 0;
    margin-right: 0;
    position: sticky;
    width: 100%;
    border-radius: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    padding: 10px 50px;
    backdrop-filter: blur(20px);
    background-color: transparent;
    box-shadow: rgba(154, 249, 147, 0.024) 0px 10px 10px 0px !important;
}

.logo-wrapper>img{
    width: 50px;
    height: 30px;
}

.logo-wrapper>p{
    font-size: 1.4rem;
}
/* .logo-wrapper>p{
    font-size: 1.1875rem;
} */





.nav-item>a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

/* Home Section */

@keyframes bounce {
    0%, 100% { transform: translateY(0); } 
    50% { transform: translateY(-10px); } 
}

.arrowDownload {
    animation: bounce 1s infinite ease-in-out;
    display: inline-block; 
    font-size: 30px; 
}

.socmed{
    font-size: 1.5rem;
    color: var(--light-white);
    transition: ease-in 0.3s;
    cursor: pointer;
    /* border-radius: 3; */
}

.socmed:hover{
    box-shadow: 0 5px 15px var(--green);
    transition: ease-out 0.3s;
    color: var(--green);

}

.sub-text{
    color: var(--light-white);
    margin-top: -12px;
    height: 20px;
}

.home{
    display: flex;
    /* flex: 1; */
    gap: 10px;
    flex-wrap: wrap;
    height: 85vh;
}
.home>div{
    flex: 1;
}

.home>div>img{
    width: 80%;
}

.home>div:first-child>p:first-child{
    font-size: 2rem;
    color: white;
    /* margin-bottom: -0.1px; */
}

.home>div:nth-child(3)>button{
    border-color: var(--green);
    color: var(--light-white);
    width: 40%;
}

/* About me section */
.aboutMe{
    /* height: 90vh; */
    display: flex;
}
.aboutMe>div{
    flex: 1;
}
.aboutMe>div:first-child>img{
    width: 40%;
    border: 1px solid white;
    padding: 10px;
    
    
}
/* .aboutMe>div>p{
    text-align: justify;
} */

.aboutMe>div:last-child>div{
   text-align: justify;
   width: 70%;
}

span{
    color: var(--green);
}



.education{
    height: 90vh;
    
}

.line{
    padding: 1px;
    background-color: var(--light-white);
    height: 70vh;

}

.education-item{
    /* width: 30rem; */
    /* background-color: #99f993; */
    padding: 20px 0;
    color: var(--light-white);
}

.education-item>div>p{
    
    color: var(--light-white);
}

.education-item>div{
    margin-top: -10px;
    font-size: .8rem;

}

/* skills section */

.skills{
    width: 100vw;
}

.skills>div{
    padding: 5rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.skills>div>div{
    /* width: ; */
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
    /* background-color: #98999D; */
    width: calc(20% - 1px);
    border: 2px solid white;
    border-radius: 3px;
}

.skills>div>div:hover{
    border: 2px solid var(--green);
    transition: ease-in-out.1s;
    box-shadow: 3px 3px 5px var(--green);
    /* box-shadow: 5px 5px 5px var(--green); */

}

.skills>div>div>img{
    width: 7rem;
}

section{
    padding-top: 70px;
}

/* project section */

.project{
    height: 100vh auto;
}


.project>h1{
    padding-bottom: 50px;

}

.project>div:first-of-type{
    display: flex;
}
.project>div>div{
    width: 20vw;
    height: 45vh auto;
    /* background-color: #98999D; */
    border: 1px solid var(--green);
    border-radius: 35px;
}

.project>div>div>img{
    width: 100%;
    border-radius: 10px;
}

.project>div>div>p:nth-child(2){
    font-size: 0.7rem;
    color: var(--light-white);
}

.project>div>div>div>p{
    padding: 6px 13px;
    border: 1px solid var(--background-green);
    background-color: var(--background-green);
    color: var(--green);
    border-radius: 10px;
    font-size: 0.7rem;
    /* margin-bottom: -px; */
}

/* contact section */

.contacts{
    height: 90vh;
    position: relative;
    bottom: 2rem;
}
.contacts>div:first-of-type{
    display: flex;
    cursor: pointer;

}

.contacts>div>div:first-child>p{
    padding: 1rem 3rem;
    border: 1px solid var(--green);
    border-radius: 16px;
    color: var(--light-white);
}

.contacts>div>div:first-child>p>i{
    color: var(--green);
    font-size: 1.2rem;
}
.contacts>div>div:last-child>i{
    color: var(--green);
    font-size: 1.2rem;
}

.contacts>div:last-of-type{
    margin-top: 20%;
}

.contacts>div:last-child>a>p>i{
    color: var(--green);

}

.arrowBack {
    animation: bounce 1s infinite ease-in-out;
    display: inline-block; 
    font-size: 30px; 
}

/* Footer section */

footer{
    padding: 1rem 3rem;
    background-color: #22252D;
}

footer>div:first-child>p{
    color: var(--light-white);

}

footer>:nth-child(2)>a>i{
    font-size: 1.5rem;
    color: var(--light-white);
    cursor: pointer;
}

/* Mobile */

@media screen and (max-width:767px){

    [data-aos] {
        opacity: 1 !important;
        transform: none !important;
    }

    body{
        padding-top: 70px;
    }
    

    header{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /* margin-top: -1px; */
    position: fixed;
    width: 100%;
    border-radius: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    padding: 5px 50px;
    backdrop-filter: blur(20px);
    background-color: #02060F;
    box-shadow: rgba(154, 249, 147, 0.024) 0px 10px 10px 0px !important;

    }



    header>nav{
        position: absolute;
        top: 50px;
        right: 0;
        left: 0;
        flex-direction: column;
        text-align: center;
        background-color: #02060F;
        /* backdrop-filter: blur(20px); */
        overflow: hidden;
    }

    .menu-icon{
        display:block;


    }

    #menuList{
        transition: all 0.5s;
    }


    .home{
        display: grid;
        grid-template-columns: 1fr;
        gap: 60px;
        /* height: 100vh; */
        padding-bottom: 3rem;
        height: auto;
    }
    .home>div:first-child{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* abouut */

    .aboutMe{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

    }
    .aboutMe>div:last-child>div>h1{
        text-align: center;
        padding: 10px;
    }
    .aboutMe>div:last-child{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* width: 100%; */
    }

    
    .aboutMe>div:last-child>div{
        text-align: justify;
        width: 97%;
    }

    .education{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        height: auto;
        padding-top: 5rem;

    }

    .education-item{
        width: 20rem ;
        /* background-color: #99f993; */
        padding: 20px 10px;
        color: var(--light-white);
    }

    .education>.line{
        display: none;
    }

    /* skills */

    .skills{
        /* width: 100vw; */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .skills>div{
        gap: 10px;
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        
       
        /* flex: 1 1 auto; */
    }



    .skills>div>div{
        /* width: ; */
        display: flex;
        justify-content: center;
        /* padding: 2rem 5rem; */
        /* background-color: #98999D; */
        /* width: 10px auto; */
        border: 2px solid white;
        border-radius: 3px;
    }

    .skills>div>div>img{
        width: 3rem auto;
    }
    


    /* project */

    .project>div{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .project>div>div{
        width: 90vw;
        margin: 0 auto;
    }

    /* contacts */

    .contacts>div:first-of-type{
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 20px; */
        
    }
    .contacts>div:first-of-type>div:first-child{
        width: 70vw;
        margin: 0 auto;
        /* margin-bottom: 30px; */
    }

    
    

    /* footer */

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer>div:first-child{
        text-align: center;
        width: auto;
    }

}

/* Tablet */
/* @media screen and (min-width: 767px) and (max-width: 1023px) {
    body{
        height: 20vh;
    }
  } */